@use '../../style/setting' as s;

.project {
  box-sizing: border-box;

  &_user {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  &_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    margin-top: 40px;
  }

  &_photo {
    border: 10px solid var(--background-color);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: relative;
    z-index: 2;
  }

  &_photo_filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 1;
    
    background-image: radial-gradient(farthest-side at 50% 50%, var(--element-color)40%, transparent 90%);
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
  }

  &_header {
    text-align: center;
    width: 100%;
  }

  &_number {
    color: var(--primary-color);
  }
}

@media (max-width: s.$container-max-widths-md) {
  .project {
    &_list {
      grid-template-columns: 1fr;
    }

    &_photo_filter {
      flex-direction: column;
      justify-content: center;
      position: relative;
      background: none;
    }
  }
}