@use '/src/style/z-index-constant' as z;

%slide_btn {
  position: absolute;
  top: 50%;
  width: 24px;
  aspect-ratio: 1 / 1;
  z-index: z.$ui-index-3;
  cursor: pointer;
}

.exp {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 25px;
  
  &_container {
    position: relative;
    display: flex;
    box-sizing: border-box;

    border-radius: 25px;
    overflow: hidden;

    min-width: 250px;
    min-height: 450px;
  }

  &_prev {
    @extend %slide_btn;
    left: 0;
  }
  
  &_next {
    @extend %slide_btn;
    right: 0;
  }
}
@layer bulletMain {
  .bullet {
    display: inline-block;
    
    background-color: currentColor;
    border-radius: 50%;
    opacity: 1;
    cursor: pointer;

    margin: 0 8px;
    width: 8px;
    height: 8px;
    transition: background-color 0.1s ease-out; 
  
    &_active {
      background-color: var(--primary-color);
    }
  }
}
