@use '../../style/setting' as s;

%flex-col {
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 20px;
}

.about {
  @extend %flex-col;
  align-items: center;

  width: 100%;
  min-height: calc(100vh - 5rem);
  height: 100%;

  &_first {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }
}

.biography {
  @extend %flex-col;

  &_text {
    text-align: justify;
  }

  &_header {
    text-transform: uppercase;
  }

  &_photo {
    height: 100px;
    background-color: var(--element-color);

    border-radius: 15px;
  }
}

.about_me {
  @extend %flex-col;
}

.divClassName { 
  position: relative;
  display: flex;

  box-sizing: border-box;
  padding: 25px;
  margin: {
    left: auto;
    right: auto;
    top: 0;
    bottom: 0;
  }

  height: 100%;
  width: 100%;
}

@media (max-width: s.$container-max-widths-xll) {
  .about {
    overflow-x: hidden;
  }
}