@use '../../../../style/setting' as s;

$gap: 25px;

%flex-col {
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: $gap;
}

%flex-row {
  display: flex;
  justify-content: center;

  gap: $gap;
}


.about {
  @extend %flex-col;
  align-items: center;

  min-height: calc(100vh - var(--nav-height));

  &_me {
    @extend %flex-col;
  }

  &_first {
    @extend %flex-row;

    &_block {
      flex-basis: 50%;
    }
  }

  &_second {
    @extend %flex-col;

    &_block {
      width: 100%;
    }
  }
}


.biography {
  @extend %flex-col;

  &_text {
    text-align: justify;
  }

  &_header {
    text-transform: uppercase;
  }

  &_photo {
    aspect-ratio: 1 / 1;
    width: 100%;
    
    background-color: var(--element-color);

    border-radius: 50px;
  }
}


@media (max-width: 1500px) {
  .about {
    overflow: hidden;
  }
}

@media (max-width: s.$container-max-widths-md) {
  .about {
    display: flex;
    flex-direction: column;

    &_first {
      flex-direction: column;

      &_block {
        width: 100%;
      }
    }

    &_second {
    }
  }
}
