@mixin skillFlex($names) {
  @each $name in $names {
    &_#{$name} {
      display: flex;
      flex-direction: column;
    }
  }
}

.skills {
  display: flex;
  justify-content: space-around;
  align-items: center;

  min-height: max-content;
  height: 100vh;

  $skillsName: (language ,frontend, backend, other);
  @include skillFlex($skillsName);

  &_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
  }
}
